* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url("../jpeg/pueblo1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: beige;
	overflow-x: hidden;
	overflow-y: auto;
	height: 100vh;
}

main div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: justify;
	height: 100vh;
}

h1 {
	text-align: center;
	/* Centra el texto horizontalmente */
	position: absolute;
	/* Habilita el posicionamiento relativo */
	top: 10%;
	/* Mueve el elemento hacia abajo un 50% de su contenedor */
	transform: translateY(-50%);
	/* Ajusta la posición verticalmente */
}

h2 {
	text-align: center;
}

p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

.brand {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	color: #a78164;
	font-weight: bold;
}


/*Columna lateral de nav*/

.colum {
	position: fixed;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.colum nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: right;
}

.colum nav li {
	margin-bottom: 10px;
	transition: 0.3s ease-in-out;
}

.colum nav li:hover {
	opacity: 60%;
	transform: scale(1.2);
	/* Aumenta el tamaño del icono al poner el cursor sobre él */

}

.colum li a img {
	width: 130%;
	/* Ajusta el ancho de la imagen */
	height: 130%;
	/* Ajusta la altura de la imagen */
}

.colum nav a {
	border-radius: 10px 10px 5px 5px;
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #333333;
	transition: background-color 0.3s ease-in-out;
}

.colum nav a i {
	margin-right: 5px;
}

.colum nav a:hover {
	background-color: #ebebeb;
}

.colum nav a:hover span {
	transform: scale(1.2);
	/* Aumento del tamaño de la etiqueta */
	;
}

/*fin de nav*/

/**/

footer {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: auto;
	text-align: left;
	padding: auto;
}

/*Estilos específicos para dispositivos móviles */
@media (max-width: 768px) {
	.container {
		flex-direction: column;
		height: auto;
		padding: 10px;
	}

	.item {
		margin-bottom: 10px;
		max-width: 100%;
		padding: 10px;
	}

	.item img {
		height: auto;
	}

	.image-text {
		padding: 5px;
	}

	.brand {
		position: static;
		margin-bottom: 10px;
	}
}

@media (max-width: 480px) {
	.item {
		font-size: 24px;
	}
}

@media (max-width: 320px) {
	.item {
		font-size: 20px;
	}
}

/**/